.cover {
  position: relative;
  background: url(../images/cover.jpg) center / cover;
  max-width: 1100px;
  min-height: 757px;
}

.cover__title {
  display: grid;
  gap: 3px;
  position: relative;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 125px;
}

.aligned-text_center {
  text-align: center;
  margin: 8px 0 0px 0;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0px 49px 50px 80px;
}

.cover__description-text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}