.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 102px 50px 88px 51px;
}

.footer__menu {
  justify-self: center;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
}

.footer__menu-list-item {
  align-self: center;
}

.footer__menu-link {
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 47px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}