.lots {
  padding: 180px 24px 0px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding: 0px 0px 26px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 334px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center / cover;
}

.card__title {
  z-index: 1;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 22px;
  padding: 51px 40px 0px 40px;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding: 0 40px 48px 40px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 324px;
  min-height: 563px;
}

.card-link {
  height: 100%;
}

.lots__look-more-link {
  display: block;
  margin: 33px 0px 0px 40px;
  font-size: 20px;
}